.NavigationItem {
    margin: 10px 0;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.NavigationItem a {
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #40A4C8;
}

/* for desktop */
@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        padding: 0;
        /* to align list items next to each over */
        display: flex;
        /* vertically centered */
        align-items: center;
        height: 100%;
        width: auto;
    }
    .NavigationItem a {
        color: white;
        /* get rid of browser default styles for links */
        text-decoration: none;
        padding: 16px 10px;
        height: 100%;
        /* for when hovering on link */
        border-bottom: 4px solid transparent;
    }
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: rgb(223, 142, 67);
        border-bottom: 4px solid #4e50dd;
        color: white;
    }
}