/* on mobile devices only */
.SideDrawer {
     position: fixed;
     width: 200px;
     /* to prevent it from going over the edges on narrow devices */
     max-width: 70%;
     height: 100%;
     left: 0;
     top: 0;
     z-index: 200;
     background-color: white;
     padding: 32px 16px;
     box-sizing: border-box;
     transition: transform 0.3s ease-out;
}

/* on bigger device */
@media (min-width: 500px){
    .SideDrawer {
        display: none;
    }
}

.Open {
    /* shifts to the position defined above */
    transform: translateX(0);
}

.Close {
    /* shifts to the left */
    transform: translateX(-100%);
}

/* logo for mobile devices */
.Logo {
    height: 11%;
    margin-bottom: 32px;
}