.ContactData {
  margin: 20px auto;
  width: 100%;
  text-align: center;
  box-shadow: 0 3px 3px #ccc;
  padding: 10px;
  box-sizing: border-box;
}

@media (min_width: 600px) {
  .ContactData {
    width: 500px;
  }
}
